.App {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

body {
    background-color: rgb(250, 251, 233);
    text-align: center;
    font-size: calc(1px + 2vmin);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #042d35;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: flex-end;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    color: rgb(255, 255, 255);
}

.App-header2 {
    width: 100%;
    background-color: #dacfcf;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: flex-end;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    color: rgb(0, 0, 0);
}

.App-header3 {
    width: 100%;
    min-height: 90px;
    justify-self: center;
    vertical-align: middle;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    color: rgb(0, 0, 0);
}

.comment {
    width: 100%;
    background-color: #dacfcf;
    justify-self: center;
    vertical-align: middle;
    align-items: flex-start;
    justify-content: center;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

.comment-box textarea {
    border-radius: 30px;
    background-color: rgb(244, 253, 251);
    padding: 20px 60px;
    border-color: #735d7f;
    border-width: 2px;
    outline: none;
}

.add-business input {
    outline: none;
    width: 100%;
    padding: 15px 70px;
    border: none;
    outline: none;
    background-color: #eee;
    border-radius: 40px;
}

.comments-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments-li {
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #dacfcf;
    border: 2px solid #735d7f;
    padding: 20px;
}

.author {
    font-weight: bold;
}

.date {
    font-style: italic;
    color: #999;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 900px;
    width: 100%;
    overflow-y: auto;
    background-color: rgb(183, 208, 219);
    padding: 20px;
}

.navigation {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #a4d5e1;
    color: black;
    box-shadow: 0 2px 4px 2px rgba(9, 9, 9, 0.23);
}
